body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: unset; */
}

#home_container {
  padding: 20px 20px;

  .panel {
    background-color: rgb(243, 243, 243);
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    min-height: fit-content;
    height: 85vh;
  }
}

.control-label {
  padding-bottom: 3px;
}

.form-group {
  margin-bottom: 12px;
}

#compute_nrr_form {
  width: 450px;
  margin: auto;
  /* border: 1px solid gray; */
  background-color: rgb(232, 232, 232);
  padding: 30px;
  border-radius: 8px;
}
